<footer class="relative bg-blueGray-200 pt-96 pb-6">
  <hr class="my-6 border-blueGray-300" />
  <div class="flex flex-wrap items-center md:justify-between justify-center">
    <div class="w-full md:w-4/12 px-4 mx-auto text-center">
      <div class="text-sm text-blueGray-500 font-semibold py-1">
        &copy;
        <a
          href="https://www.linkedin.com/in/athos-vinicius-correia-soares-973bb0195/"
          target="_blank"
        >
          Athos Vinicius
        </a>
        {{ test | date : "yyyy" }}, Stefanini.
      </div>
    </div>
  </div>
</footer>
