
<div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

  <div class="group relative shadow-2xl p-3">
    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
    (click)="openModal(modal)">
      <img src="https://www.freeiconspng.com/thumbs/plus-icon/plus-icon-black-2.png" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
    </div>
  </div>

    <div class="group relative shadow-2xl p-3 border-solid rounded-md bg-slate-100" *ngFor="let item of decks">
      <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md  lg:aspect-none group-hover:opacity-75 lg:h-80">
        <img [src]="item.cover" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
      </div>
      <div class="mt-4 flex justify-between">
        <div>
          <h3 class="text-sm font-medium text-gray-900">
            {{item.name}}
          </h3>

        </div>
        <p class="text-sm font-normal text-gray-700">Cards: {{item.listCards.length
        }}/60</p>
      </div>
    </div>


</div>

<app-form #modal></app-form>

